.notification {
  position: fixed;
  /* top: 20px;*/
  font-size: 20px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: cadetblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  text-transform: capitalize;
  transition: all ease-in-out 0.5s;
  opacity: 1;
}

.notification i {
  display: inline-block;
  margin-left: 10px;
}

.notification-in {
  top: 50px;
  transition: all ease-in-out 0.5s;
  opacity: 1;
}
