.notification {
  position: fixed;
  font-size: 20px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: cadetblue;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}

.notification i {
  display: inline-block;
  margin-left: 10px;
}

.notification-in {
  transition: all ease-in-out 0.5s;
  opacity: 1;
}

@media all and (min-width: 925px) {
  .notification {
    transform: translateX(110%);
  }
}
