.menu {
  position: fixed;
  top: 20px;
  left: 87%;
  z-index: 4;
  font-size: 35px;
  cursor: pointer;
  color: #82c9c1;
}

#toggle-checkbox {
  cursor: pointer;
  height: 0;
  margin: 0;
  opacity: 0;
  right: 0;
  top: 0;
  width: 0;
}
.toggle-label {
  background-color: transparent;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: ffscalasans, sans-serif;
  font-weight: 700;
  line-height: 4rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  right: 0;
  text-decoration: none;
  text-indent: 100%;
  top: 0.75rem;
  transition: background-color 0.25s;
  white-space: nowrap;
  width: 2rem;
  margin: 0;
}
.toggle-label:before,
.toggle-label:after {
  background-color: #82c9c1;
  content: '';
  display: block;
  height: 0.5rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.25s;
  width: 2rem;
}
#toggle-checkbox:checked + .toggle-label:before {
  top: 0.75rem;
  transform: rotate(45deg);
}
#toggle-checkbox:checked + .toggle-label:after {
  box-shadow: none;
  transform: rotate(-45deg);
}
.toggle-label:after {
  box-shadow: 0 0.75rem 0 #82c9c1;
  top: 0.75rem;
}

@media all and (min-width: 925px) {
  .menu {
    display: none;
  }
}
