.empty-list {
  margin: 50px auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.empty-list span {
  font-size: 40px;
}

.img-container {
  width: 500px;
}

.img-container img {
  width: 100%;
}
