.product-list {
  text-transform: capitalize;
  max-width: 1200px;
}

.product-list h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

.product-list ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-list ul li {
  width: 400px;
  margin-bottom: 10px;
  border: 1px solid rgba(190, 186, 186, 0.541);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}
.product-list li span {
  font-size: 20px;
  display: block;
  text-align: justify;
  margin: 10px auto;
}

.product-list li span strong {
  font-size: 15px;
  margin-left: 5px;
}

.product-list li label {
  margin: 0 0 10px 0;
  width: 200px;
}

.product-list li label input {
  width: 50px;
  text-align: center;
}

.product-list ul li a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 10px;
}
.product-list ul li button {
  padding: 10px 15px;
  margin: 0 10px;
}

button.delete {
  background-color: tomato;
}
button.add {
  background-color: rgb(10, 78, 117);
}
.product-list ul::after {
  content: '';
  display: block;
  width: 400px;
}

.place-order form {
  transform: translate(0, 0);
  text-align: left;
  width: 70vw;
  height: 100%;
}
