header {
  background-color: #0b1b32;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
header h1 {
  color: white;
  padding-left: 20px;
}
nav {
  align-self: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li a {
  color: white;
}
