.dashboard {
  display: flex;
  height: 100vh;
}
.nav {
  color: white;
  background-color: #0b1b32;
  width: 400px;
}
.nav p {
  margin: 10px 0;
  padding: 0 10px;
}

.nav p span {
  padding: 5px;
  background: #82c9c1;
  font-size: 20px;
  font-weight: bolder;
  padding: 2px 5px;
  text-transform: capitalize;
}
aside {
  width: 100%;
  max-height: 100vh;
}

aside nav ul li {
  margin: 30px 0;
  width: 100%;
  font-size: 20px;
  display: flex;
}
.nav a {
  color: white;
  display: block;
  padding: 15px;
  width: 100%;
}
.nav button {
  width: 150px;
  padding: 15px;
  background: none;
  background: coral;
  margin: 0 auto;
}

.nav a.selected {
  background: #82c9c1;
  width: 100%;
  color: white;
}
