.add-product {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.add-product h3 {
  margin-top: 50px;
  font-size: 40px;
}
.add-product form {
  max-width: 500px;
  margin: 20px auto;
  text-transform: capitalize;
  height: fit-content;
}

.add-product form button {
  margin: 0;
}
