.form {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  text-align: center;
  width: 90%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(190, 186, 186, 0.541);
  background: whitesmoke;
  border-radius: 5px;
  height: 420px;
}

.login-form h3 {
  margin-top: 20px;
}
form label:first-of-type {
  margin-top: 30px;
}

label {
  text-align: left;
  display: block;
  font-size: 15px;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
}

input {
  margin-top: 5px;
  font-size: 15px;
  width: 100%;
  display: block;
  border-top: 0;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(190, 186, 186, 0.541);
}
form .btn {
  width: 100%;
  margin: auto auto 0 auto;
}

form a,
form a:visited,
form a:active {
  display: inline-block;
  color: #82c9c1;
  margin-top: 15px;
}

@media all and (min-width: 825px) {
  .form {
    height: 100%;
  }

  .form form {
    max-width: 520px;
    margin: auto auto;
    transform: translateY(50%);
  }
}
